<strong>Olá, {{ deliveryman }}</strong>
<p>Você tem uma entrega para {{ recipient }}</p>
<p>
  <strong>Produto: </strong> {{ produto }} <br />
</p>
<h3>Destino:</h3>
<strong>rua: </strong> {{ rua }} <br />
<strong>numero: </strong> {{ numero }} <br />
<strong>complemento: </strong> {{ complemento }} <br />
<strong>estado: </strong> {{ estado }} <br />
<strong>cidade: </strong> {{ cidade }} <br />
<strong>cep: </strong> {{ cep }} <br />
